@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .animation-button {
        box-shadow: 0px 4px orangered;
    }

    .animation-button:active {
        box-shadow: none;
        position: relative;
        top: 4px;
    }

    .gold-border {
        border: solid 6px;
        border-image: linear-gradient(30deg, #fcc200 0%, #ffcc33 30%,
                #ffdb58 50%, #fafad2 70%, #fcc200 100%)1;
    }

    .silver-bg {
        background-color: #e5e4e2;
    }
}